* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: lightsteelblue;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	counter-reset: options;
	height: 100vh;
}

.container {
	max-width: 900px;
	margin: 1rem auto;
	padding: 0 1.5rem;
}

header {
	background-color: white;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
	padding: 0 1.5rem;
}

header > form {
	max-width: 900px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
}

.form-group {
	display: flex;
	flex-direction: column;
	margin: 0.5rem;
	/* padding: 0 1rem; */
}

.form-group > label {
	color: #777;
	font-size: 0.75rem;
	margin-bottom: 0.25rem;
}

.form-group input[type='number'] {
	width: 4rem;
}

.form-group > span {
	color: #777;
	font-size: 0.75rem;
}

.btn {
	background-color: hsl(200, 100%, 50%);
	color: white;
	padding: 0.5em 1em;
	border-radius: 0.5em;
	border: none;
	cursor: pointer;
}

.btn:hover {
	background-color: hsl(200, 100%, 40%);
}

.btn:disabled {
	background-color: hsl(200, 100%, 70%);
	color: lightslategrey;
}

.card-grid {
	display: grid;
	align-items: center;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 1rem;
}

.card {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border-radius: 0.25rem;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
	background-color: white;
	transform-style: preserve-3d;
	word-break: break-word;
	transition: 250ms;
	cursor: pointer;
	transform: perspective(1000px) rotateY(var(--rotate-y, 0))
		translateY(var(--translate-y, 0));
}

.card:hover {
	--translate-y: -2px;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.card.flip {
	--rotate-y: 180deg;
}

.card .front {
	left: 0;
}

.card.flip .front {
	display: none;
}

.card .front,
.card .back {
	position: absolute;
	padding: 1rem;
	backface-visibility: hidden;
}

.card .back {
	transform: rotateY(180deg);
}

.flashcard-options {
	margin-top: 0.5rem;
}

.flashcard-option {
	margin-top: 0.25rem;
	color: #555;
	font-size: 0.75rem;
}

.flashcard-option:first-child {
	margin-top: 0;
}

.flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.progress-conatiner {
	flex-grow: 0.8;
}

.progress-conatiner,
.score-container {
	display: flex;
	flex-direction: column;
}

.score-container {
	align-items: center;
}

.score-text,
.score-number {
	font-weight: bold;
}

.score-number {
	font-size: 2rem;
}

.progress-text {
	font-weight: bold;
	margin-bottom: 0.25rem;
}

.progress-bar-box {
	border: 1px solid hsl(200, 100%, 50%);
	border-radius: 0.5rem;
	overflow: hidden;
}

.progress-bar {
	height: 2rem;
	background-color: hsl(200, 100%, 50%);
}

.question {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: .5rem;
}

.question > h2 {
	margin-bottom: 1rem;
	text-align: center;
}

.question > ul {
	padding: 0;
	min-width: 100%;
	list-style-type: none;
}

.question > ul > li {
	position: relative;
	min-width: 100%;
	margin-bottom: 1rem;
	background-color: hsl(230, 90%, 40%);
	color: white;
	padding: 0.6em 1em;
	border-radius: 0.5em;
	border: none;
	cursor: pointer;
	transition: 250ms;
	transform: translateY(var(--translate-y, 0));
	box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.3);
}

.question > ul > li::before {
	position: relative;
	counter-increment: options;
	content: '0' counter(options) '.';
	margin-right: 10px;
}

.question > ul > li:hover {
	background-color: hsl(230, 100%, 50%);
	--translate-y: -2px;
}

.question > ul > li.isRight {
	background-color: green;
}

.question > ul > li.isWrong {
	background-color: darkred;
}

.question > ul > li.answered {
	cursor: not-allowed;
}

.question > p {
	margin-bottom: 1rem;
	/* position: relative; */
}

.loader {
	position: relative;
	display: inline-block;
	animation: spin 1000ms infinite linear;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.leaderboard,
.score-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 400px;
	margin: 0 auto;
}

.leaderboard > *,
.score-form > * {
	margin-bottom: 0.5rem;
}

.leaderboard > *:last-child,
.score-form > *:last-child {
	margin-bottom: 0;
}

.score-form {
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

.leaderboard {
	padding: 2rem;
}

.leaderboard > ul {
	padding: 0;
	list-style-type: none;
}

.leaderboard > ul > li {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.3rem;
	color: darkblue;
	text-align: center;
}
