* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: lightsteelblue;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	counter-reset: options;
	height: 100vh;
	/* min-width: 450px; */
}

header {
	background-color: white;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
	padding: 0 1rem 0.4rem;
}

header > form {
	max-width: 900px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	flex-wrap: wrap;
}

.form-group {
	display: flex;
	flex-direction: column;
	margin: 0.5rem;
}

.form-group > label {
	color: #777;
	font-size: 0.75rem;
	margin-bottom: 0.25rem;
}

.form-group input[type='number'] {
	width: 4rem;
}

.form-group > span {
	color: #777;
	font-size: 0.75rem;
}

.btn {
	background-color: hsl(200, 100%, 50%);
	color: white;
	padding: 0.5em 1em;
	border-radius: 0.5em;
	border: none;
	cursor: pointer;
}

.btn:hover {
	background-color: hsl(200, 100%, 40%);
}

.btn:disabled {
	background-color: hsl(200, 100%, 70%);
	color: lightslategrey;
	cursor: not-allowed;
}

.container {
	max-width: 900px;
	margin: 1rem auto;
	padding: 0 1rem;
}

.error-message {
	padding: 1rem 1.5em;
	font-weight: bold;
	color: darkred;
	text-align: center;
}

.flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.progress-conatiner {
	display: flex;
	flex-direction: column;
	flex-grow: 0.8;
}

.progress-text {
	font-weight: bold;
	margin-bottom: 0.25rem;
}

.progress-bar {
	position: relative;
	height: 2rem;
	border: 1px solid hsl(200, 100%, 50%);
	border-radius: 0.5rem;
	overflow: hidden;
}

.progress-bar::before {
	content: '';
	position: absolute;
	left: 0;
	width: calc(1% * var(--progress, 0));
	height: 100%;
	background-color: hsl(200, 100%, 50%);
	transition: 300ms;
}

.score-timer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: 1px solid hsl(200, 100%, 50%);
}

.score-timer-text {
	background-color: hsl(200, 100%, 50%);
	padding: 0 .3rem;
}

.score-timer-number {
	font-size: 1.5rem;
	font-weight: bold;
	padding: 0 .3rem;
}

.score-timer-border {
	border-right: 1px solid hsl(200, 100%, 50%)
}

.question {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 0.5rem;
}

.question > h2 {
	margin-bottom: 1rem;
	text-align: center;
}

.question > ul {
	padding: 0;
	min-width: 100%;
	list-style-type: none;
}

.question > ul > li {
	position: relative;
	min-width: 100%;
	margin-bottom: 1rem;
	background-color: hsl(230, 90%, 40%);
	color: white;
	padding: 0.6em 1em;
	border-radius: 0.5em;
	border: none;
	cursor: pointer;
	transition: 250ms;
	transform: translateY(var(--translate-y, 0));
	box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.3);
}

.question > ul > li::before {
	position: relative;
	counter-increment: options;
	content: '0' counter(options) '.';
	margin-right: 10px;
}

.question > ul > li:hover {
	background-color: hsl(230, 100%, 50%);
	--translate-y: -2px;
}

.question > ul > li.isRight {
	background-color: green;
}

.question > ul > li.isWrong {
	background-color: darkred;
}

.question > ul > li.answered {
	cursor: not-allowed;
}

.question > p {
	margin-bottom: 1rem;
	position: relative;
}

.loader {
	position: relative;
	display: inline-block;
	animation: spin 1000ms infinite linear;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.leaderboard,
.score-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 400px;
	min-width: 350px;
	margin: 0 auto;
}

.leaderboard > *,
.score-form > * {
	margin-bottom: 0.5rem;
}

.leaderboard > *:last-child,
.score-form > *:last-child {
	margin-bottom: 0;
}

.score-form {
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}

.leaderboard {
	padding: 0 2rem;
}

.leaderboard > h1 {
	margin-bottom: 1rem;
}

.leaderboard-group {
	width: 100%;
	padding: 0.5rem;
	background-color: hsl(200, 100%, 80%);
	border-radius: 0.5rem;
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.leaderboard-group > h3 {
	margin-bottom: 0.5rem;
}

.leaderboard-group.gold {
	background-color: gold;
}

.leaderboard-group > span {
	text-transform: uppercase;
	font-weight: bold;
	color: darkblue;
}

.leaderboard-group > ul {
	padding: 0;
	list-style-type: none;
}

.leaderboard-group > ul > li {
	text-transform: uppercase;
	font-weight: bold;
	color: darkblue;
	margin-bottom: 0.3rem;
}

.leaderboard-group > ul > li:last-child {
	margin-bottom: 0;
}
